@{
    ViewData["Title"] = "All Courses";
}

<div class="text-center">
    <h1 class="display-4">All Courses</h1>
    <ul>
        <li>idk 101</li>
        <li>something</li>
        <li>something else</li>
        <li>a course</li>
        <li>anotehr course</li>
    </ul>
</div>
