@model List<WestcoastEdu.Web.Models.Course>

@{
    ViewData["Title"] = "Kurskatalog";
}

<div class="container">
    
    <h1 class="title">Kurskatalog: @Model.Count Kurser</h1>
    
    <ul>
    @foreach (var course in Model)
    {
        <li class="is-size-4"><a asp-controller="course" asp-action="show" asp-route-id="@course.Id">@course.Name</a></li>
    }
    </ul>
    
</div>

