@model List<WestcoastEdu.BCL.Courses.Course>

@{
    ViewData["Title"] = "All Courses";
}

<div>
    <h1>Kurskatalog</h1>
    <ul>
        
        @foreach (var course in Model)
        {
            <li><a asp-action="show" asp-route-id=@course.Id}>@course.Name</a></li>
        }
    </ul>
</div>
