@model List<WestcoastEdu.BCL.Courses.Course>

@{
    ViewData["Title"] = "Kurskatalog";
}

<div class="container">
    <h1 class="title">Kurskatalog</h1>
    <ul>
        
        @foreach (var course in Model)
        {
            <li><a asp-action="show" asp-route-id=@course.Id}>@course.Name</a></li>
        }
    </ul>
</div>
