@{
    ViewData["Title"] = "Hem";
}

<div class="container">
    <h1 class="title">Välkommen till Westcoast Education</h1>
    <h2 class="subtitle">Vi erbjuder kurser inom IT till företag och privatpersoner.</h2>
</div>


    