@{
    ViewData["Title"] = "Hem";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till WestcoastEDU</h1>
    <p>Vi erbjuder kurser inom IT till företag och privatpersoner.</p>
    <p>Här kan du se vår fullständiga kurskatalog. <a asp-controller="course" asp-action="list">Kurskatalog</a></p>
</div>
