@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Vi erbjuder kurser inom IT till företag och privatpersoner.</p>
    <p>Här kan du se vår fullständiga kurskatalog.</p>
</div>
