@{
    ViewData["Title"] = "Hem";
}

<div class="container">
    <h1 class="title">Välkommen till Westcoast Education</h1>
    <p class="subtitle">Vi erbjuder kurser inom IT till företag och privatpersoner.</p>
</div>


    