@{
    ViewData["Title"] = "Admin";
    Layout = "_LayoutAdmin";
}

<div class="container">
    <h1 class="title">Westcoast Education Admin</h1>
    <h2 class="subtitle">Här kan du hantera databasens innehåll</h2>


    <p><a asp-controller="AdminCourses" asp-action="list">Administrera Kurser</a></p>
    <p><a asp-controller="AdminUsers" asp-action="list">Administrera Användare</a></p>
</div>


    