* {
  margin: 0;
  font-family: Tahoma, sans-serif
}

header {
  background: linear-gradient(110deg, rgb(255 182 250) 0%, rgb(156 238 255) 100%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

header h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  user-select: none;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  font-size: 2em;
}

nav ul li a {
  text-decoration: none;
  padding: 0 1em;
}

nav ul li a:hover{
  color: white !important;
}
nav ul li a:visited {
  color: inherit;
  text-decoration: inherit;
}

main {
  padding: 1em;
}

