
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    height: 100%;
}

.section {
    display: flex;
    padding: 3rem;
    margin: 16px;
}

li {
    list-style: none;
}

main.section {
    height: 100%;
}

footer {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
    background-color: #222222;
    color: #FFF;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}
td, th {
    padding: 0.5rem;
}

dl {
    display: flex;
    flex-flow: row wrap;
    border: solid #333;
    border-width: 1px 1px 0 0;
  }
  dt {
    flex-basis: 20%;
    background: #333;
    text-align: right;
    color: #fff;
    padding: 1rem;
  }
  dd {
    flex-basis: 70%;
    flex-grow: 1;
    margin: 0;
    border-bottom: 1px solid #333;
    padding: 1rem;
  }