body {
    font-family: 'Roboto', sans-serif;
}

.underline {
    text-decoration: underline;
}

.is-size-4 {
    font-size: 1.5rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 400;
}

a {
    color: black;
}
a:visited {
    color: inherit;
}